.divone{
    background-color: #1B98F5;
    height: 250px;
}
.divtwo{
    background-color: #02B290;
    height: 250px;
}
.divthree{
    background-color: #1c8d7398;
    height: 250px;
}
.divfour{
    background-color: #f0781098;
    height: 250px;
}

.dashboard_wrapper div{
    border-radius: 25px;
}
.title{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;

}
.linktag{
    text-decoration: none;
    background: rgb(18, 179, 219);
    padding: 10px 25px;
    color: #fff;
    margin-left: 160px;
    font-size: 18px;
    border-radius: 25px;
    
}
.main_page{
    background: rgb(218, 246, 254);
}